<div class="register">
  <h4>pupr</h4>
  <form>
    <div>
      <label>first name:</label>
      <input type="text" name="firstName">
    </div>
    <div>
      <label>last name:</label>
      <input type="text" name="lastName">
    </div>
    <div>
      <label>username:</label>
      <input type="text" name="alias">
    </div>
    <div>
      <label>address:</label>
      <input type="text" name="address">
    </div>
    <div>
      <label>city:</label>
      <input type="text" name="city">
    </div>
    <div>
      <label>state:</label>
      <input type="text" name="state">
    </div>
    <div>
      <label>zip:</label>
      <input type="text" name="string">
    </div>
    <div>
      <label>password:</label>
      <input type="text" name="password">
    </div>
    <div>
      <label>confirm password:</label>
      <input type="text" name="password_confirmation">
    </div>
    <input type="submit" value="Login">
  </form>
  <a href="/register">register</a>
</div>
