.login{
  background-color: #F0FFFF;
  margin: auto;
  width: 30%;
  height: 200px;
  border: 1px solid #c3c3c3;
  vertical-align: middle;
  text-align: center;
  border-radius: 400px;
  align-items:center;
}
